<!-- About Section -->
<section id="about">
        <div class="container">
            <div class="row">
               </br>
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Next meeting</h2>
                    <h3 class="section-subheading text-muted"></h3>
                Our eighth meeting will take place on Wednesday May 26 2021, live over Zoom.</br>
                The talk is titled "Developing a precision medicine therapy to treat stroke: At the forefront of neuroscience, machine learning, and cloud technology"</br>
                featuring Yotam Drechsler, CEO and Co-founder, BrainQ technologies.</br>
                BrainQ is developing a cloud-based platform to map brain network activity using explanatory machine learning algorithms to extract biological insights that translate into precision therapies.

                </div>
            </div>
            <div class="bigly">
            <div class="row" >
                    </br>
                    <div class="text-center">
                    <h3 class="section-heading">Agenda</h2>
                        16:30-17:00 TALK</br>
                        17:00-17:30 Q&A</br>
                    </br>
                    </br>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Past meetings</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="bigly">
            <div class="row" >
                    </br>
                    </br>
                    April 21 2021. <b>Dr. Pini Akiva</b>, CEO, KI – The Israeli Institute for Applied Research in Computational Health. "Driving computational health research towards impact".
                    </br>
                    </br>
                    May 7, 2020. <b>Guy Kol</b> (MSc, MBA) co-Founder and VP R&D, NRGene. "NRGene: Better analysis of the global natural genomic diversity to supply the world with more food".
                    </br>
                    </br>
                    February 23,  2020. <b>Panelists</b>: Yaron Breski, RM Global, Netalie Nadivi, Triventures, IritYaniv, Accelmed, Daniella Segal, Lamed Holdings. "Investments in Life Sciences in the next decade: prospects and perils".
                    </br>
                    </br>
                    November 14, 2019. <b>Daniel Souroujon M.D </b>, VP medical sciences at K Health and <b>Tom Haramaty </b>Algorithms team lead at K Health. "AI-driven healthcare system".
                    </br>
                    </br>
                    June 4, 2019. <b> Prof. Gabi Barbash</b>,  Director, Bench to Bedside program, Weizmann Institute of Science, Founder and CEO, Consilium ltd,
                    Former CEO of Tel Aviv Sourasky Medidical Center (1993-2015). "Forward and backward in time: From big data to precision medicine"
                    </br>
                    </br>
                    March 24, 2019. <b>Dr. Shai Shen-Orr</b>, Co-Founder and Chief Scientist, CytoReason, Faculty of Medicine, Technion,
                    and <b>Dr. Yair Benita</b>, Head Science Operations, CytoReason. "Biomedical informatics: replacing the mouse model in drug development".
                    </br>
                    </br>
                    December 12th, 2018. <b>Dr. Mor Amitai</b>, CTO icarbonx Israel. "Personalized
                    healthcare: challenges in joining biology, medicine, and computing".
                    </br>
                    <center>
                    </br>
                    </br>
                <a href="https://safrabio.cs.tau.ac.il/salon_first_meeting_12_12_2018" class="page-scroll btn btn-xl" target="_blank">Impressions from the first meeting</a>
                    </br>
                    </br>
                    </center>
            </div>
            </div>
            </div>
        </div>
    </section>
