<!-- About Section -->
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Next meeting</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="bigly">
            <div class="row" >
                    Our second meeting will take place in Sunday, March 24, 2019. </br>
                    The talk is titled "Biomedical informatics: replacing the mouse model in drug development",
                    featuring speakers: Dr. Shai Shen-Orr , Co-Founder and Chief Scientist, CytoReason, Faculty of Medicine, Technion</br>
                    and Dr. Yair Benita, Head Science Operations, CytoReason.
                    </br>
                    <div class="text-center">
                    <h3 class="section-heading">Agenda</h2>
                        16:15-16:30 GATHERING</br>
                        16:30-17:00 TALK</br>
                        17:00-17:30 Q&A</br>
                        17:30-18:00 RECEPTION</br>
                    </br>
                        Parking through gate 14, Tel Aviv University, code no. 1141900
                    </br>
                    <center>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1689.7249448495486!2d34.8068915!3d32.1111503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d497acfdf0001%3A0x83554ac7688eeb2e!2sDepartment+of+Environmental+Studies%2C+Tel+Aviv+University!5e0!3m2!1sen!2sil!4v1541596275876" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </center>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Past meetings</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="bigly">
            <div class="row" >
                    Our first meeting was held on December 12th, 2018 at 17:30.</br>Speaker
                    <b>Dr. Mor Amitai</b>, CTO icarbonx Israel, talked about: "Personalized
                    healthcare: challenges in joining biology, medicine, and computing".
                    </br>
                    <center>
                    </br>
                    </br>
                <a href="https://safrabio.cs.tau.ac.il/salon_first_meeting_12_12_2018" class="page-scroll btn btn-xl" target="_blank">Impressions from the first meeting</a>
                    </br>
                    </br>
                        <img src="http://oi65.tinypic.com/2gydfn5.jpg">
                    </center>
            </div>
            </div>
            </div>
        </div>
    </section>
