<!-- About Section -->
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meetings</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="bigly">
            <div class="row" >
                    Meetings will be divided into three parts: a 30 minutes talk by a
                    savvy participant, followed by 30 minutes for questions and answers,
                    and ending in 30 minutes of networking.
                    </br>
                    </br>
                    Our first meeting will be held on December 12th, 2018 at 17:30.</br>Speaker
                    <b>Dr. Mor Amitai</b>, CTO icarbonx Israel, who will talk about: "Personalized
                    healthcare: challenges in joining biology, medicine, and computing".
                    </br>
                    </br>
                    Entrance is free but registration is required due to limited space.
                    </br>
                    Parking through gate 14, Tel Aviv University, code no. must be
                    mentioned: 1134820
                    </br>
                    </br>
                    <div class="text-center">
                    <h3 class="section-heading">Agenda</h2>
                     17:15 Gathering</br>
                     17:30 Talk</br>
                     18:00 Q&A</br>
                     18:30 Reception
                    </br>
                    </br>
                    <center>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1689.7249448495486!2d34.8068915!3d32.1111503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d497acfdf0001%3A0x83554ac7688eeb2e!2sDepartment+of+Environmental+Studies%2C+Tel+Aviv+University!5e0!3m2!1sen!2sil!4v1541596275876" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </center>
            </div>
            </div>
            </div>
        </div>
    </section>
