<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div>
                    <h2 class="section-heading">From our last meeting</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/D-9P-3UMDE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            <div class="bigly">
                <div class="col-lg-12">
                     A bi-monthly forum to promote entrepreneurship at the convergence of
                     biology, medicine, and computing.</br> In addition to hearing industry
                     leaders speak, participants will have the chance to look for
                     collaborators, employees, advisors, customers, or investors.
                </div>
                </div>
            </div>
        </div>
    </section>
