<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
            <div class="bigly">
                <div class="col-lg-12 text-center">
                    A monthly forum to promote entrepreneurship at the convergence of
                    biology, medicine, and computing.</br> In addition to hearing industry
                    leaders speak, participants will have the chance to look for
                    collaborators, employees, advisors, customers, or investors. </br>Bring
                    your ideas, get some refreshments.
                </div>
                </div>
            </div>
        </div>
    </section>
