<style>
body {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

footer {
  position:absolute;
  display:block;
  bottom: 0;
}
</style>

<footer>
<a href="https://safrabio.cs.tau.ac.il/" title="Safra" rel="home" id="logo" aria-label="Go to homepage">
        <div class="tau_logo">
        <img alt="logo" title="logo" src="https://safrabio.cs.tau.ac.il/sites/exactsci_en.tau.ac.il/files/faculty_logos/HEB_BW_34253_1__0.png">                                    </div>
        <div class="group_header">
        <div class="group_header_txt" style="color:black;">
        <h1 id="school_name" class="has_logo">  <span class="black">Edmond J. Safra Center for Bioinformatics</span></h1><input id="menu_gid" type="hidden" value="37">                                                      <div class="university-name">Tel Aviv University</div>                </div>
        </div>
</a>
</footer>
