<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">
                <div class="intro-lead-in">
                    <a href="https://safrabio.cs.tau.ac.il/" target="_blank">Edmond J. Safra Biomedical Informatics</a> Entrepreneurs Salon
                    Presents:
                    <br/>
                    </br>
                    </div>
                        Yotam Drechsler, CEO and Co-founder, BrainQ technologies
                    </br>
                    </br>
                    <b>Developing a precision medicine therapy to treat stroke:</b></br>
                    <b>At the forefront of neuroscience, machine learning, and cloud technology</b></br>
                    <b>Driving computational health research towards impact</b>
                    </br>
                    </br>
                        16:30 Wednesday, May 26, 2021
                    </br>
                        <a href="https://us02web.zoom.us/j/81344889366" target="_blank">Live over Zoom (Press here to join)</a>
                    </br>
                    </br>
                <div class="intro-lead-in">
                In collaboration with <a href="http://dbmi.hms.harvard.edu/events/bies" target="_blank">Harvard’s Biomedical Informatics Entrepreneurs
                    Salon</a>
                    </br>
                    </br>
                    </br>
                    </br>
                </div>
                </div>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
