<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
            <div class="transbox" style="background-color:#000000; opacity:0.6;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">
                <div class="intro-lead-in">
                    <a href="https://safrabio.cs.tau.ac.il/" target="_blank">Edmond J. Safra Biomedical Informatics</a> Entrepreneurs Salon
                    Presents:
                    <br/>
                    </br>
                    </div>
                        Erez Naaman, Co-Founder & CTO at Scopio Labs.
                    </br>
                    </br>
                    <b>Full-Field Cell Morphology - How computational photography and AI are changing diagnostics</b>
                    </br>
                    </br>
                        16:00 Janurary 26, 2023
                    </br>
                    <a href="https://forms.gle/HwBQyixubsZxtapU6" target="_blank"><b>Free registration required (Press here to register)</b></a>
                    </br>
                    </br>
                <div class="intro-lead-in">
                In collaboration with <a href="http://dbmi.hms.harvard.edu/events/bies" target="_blank">Harvard’s Biomedical Informatics Entrepreneurs
                    Salon</a>
                    </br>
                    </br>
                    </br>
                    </br>
                </div>
                </div>
            </div>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
