<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">
                <div class="intro-lead-in">
                    <a href="https://safrabio.cs.tau.ac.il/" target="_blank">Edmond J. Safra Biomedical Informatics</a> Entrepreneurs Salon
                    <br/>
                    Presents:
                    <br/>
                    </br>
                    </div>
                        Biomedical informatics: replacing the mouse model in drug development
                    </br>
                    </br>
                        Sunday, March 24th, 2019
                    </br>
                    </br>
                <div class="intro-lead-in">
                In collaboration with <a href="http://dbmi.hms.harvard.edu/events/bies" target="_blank">Harvard’s Biomedical Informatics Entrepreneurs
                    Salon</a>
                    </br>
                    </br>
                    <a href="https://goo.gl/forms/NCyrWusqqmjVbH343" class="page-scroll btn btn-xl" target="_blank">Registration</a>
                </div>
                <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSdiqssKQaEPi1My6gT5huIRbyMSVS_jbPxSOPkGK95DSGJvwg/viewform?usp=sf_link" class="page&#45;scroll btn btn&#45;xl" target="_blank">Registration</a> -->
                </div>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
